<% if user_signed_in? %>
  <div class="row" ng-app="taskManager">
    <div class="center text-uppercase">
      <h2>
        <strong>Simple todo lists</strong><br/>
        <small>From Volodymyr Shvydkyi</small>
      </h2>
    </div>

    <br/>

    <ng-view></ng-view>

    <!-- <div id="lists" class="col-md-10 col-md-offset-1">
      <#%= render @lists %>
    </div> -->
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Task Manager App</h1> 
    <h2><small>Created by Volodymyr Shvydkyi</small></h2>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>