<div id="list-{{list.id}}" class="panel panel-primary">
	<div class="panel-heading" data-toggle="" data-target="#list-{{list.id}}-todos">
		<div class="row">
			<div class="col-md-12">
				<div list-title field-value="list.title" delete-list="delList(list)" update-list="updList(list)"></div>
			</div>
		</div>
	</div>
	<div id="list-{{list.id}}-todos" class="panel-collapse collapse in">
		<div class="panel-body">
			<form ng-submit="addNewTask()">
				<div class="input-group">
					<input ng-model="newTaskContent" type="text" class="form-control" placeholder="Start typing here to create a task.." required maxlength="140">
					<div class="input-group-btn">
						<button type="submit" class="btn btn-success">Add Task</button>
					</div>
				</div>
				<div ng-show="newTaskContent.length > 120" style="font-size: 10px; color: red;">
					{{newTaskContent.length + "/140"}}
				</div>
			</form>
		</div>
		<table class="table table-curved">
			<tbody>
				<tr ng-hide="list.tasks.length" class="text-center">
					<td>
						<h4><small>No TODOS for now.</small></h4>
					</td>
				</tr>
				<tr ng-show="list.tasks.length" ng-repeat="task in list.tasks | orderBy:['done','priority', '-created_at']">
					<td class="col-md-1 col-xs-1 text-center vert-align"><input ng-model="task.done" ng-click="cmpltTask(list, task)" type="checkbox"></td>
					<td class="task-{{task.done}} col-md-9 col-xs-9">
						<span class="glyphicon glyphicon-star" ng-class="{'star': task.done != true}" aria-hidden="true" ng-if="task.priority == 'important'"></span>
						{{task.content}}
					</td>
					<td class="col-md-2 col-xs-2 text-center vert-align">
						<div class="hoverable">
							<span ng-click="prtzTask(list, task)" class="glyphicon glyphicon glyphicon-star-empty" aria-hidden="true"></span> |
							<a ng-href="#/list/{{list.id}}/task/{{task.id}}">
								<span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</a> |
							<span ng-click="delTask(list, task)" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</div>
						<div class="visible visible-sm visible-md visible-lg">
							<div task-deadline deadline="{{task.deadline_at}}" ng-if="task.deadline_at"></div>
						</div>
						<div class="visible visible-xs">
							<div task-deadline xs="{{true}}" deadline="{{task.deadline_at}}" ng-if="task.deadline_at"></div>
						</div>	
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>